<footer class="text-center  py-2 " >
   <p class="rounded w-1/6 bg-purple-600" style="display: inline-block;align-self: center;"> Made with  <img style ="display: inline-block" src="./image/heart.svg" width="25"> by JA </p>  
</footer>