<%- include('partials/header') -%>
<body class="min-h-screen flex-col">
    <%-include('partials/nav') -%>
    <main class="mt-20 ml-24 mr-24  min-h-screen ">
        <div class="   w-full  justify-between ">
            <p class=" text-purple-600 pb-5  border-b border-purple-600 text-xl">ALERTS</p>
        </div>
        
    </main>

    <%-include('partials/footer') -%>
</body>
</html>
